{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <title>LITRevu - {% block title %}{% endblock %} </title>
</head>

<body>
    <div class="main-container">
        <main>
            {% block content %}{% endblock %}

            {% if user.is_authenticated %}
                <section class="section">
                    <div class="container">
                        <div class="notification is-primary">
                            <strong class="has-text-black">You are logged in as {{ request.user }}</strong>
                                <a href="{% url "logout" %}" class="button is-light ml-3">Log Out</a>
                        </div>
                    </div>
                </section>
            {% endif %}

        </main>

        <footer class="footer has-background-link-light-custom">
            <div class="content has-text-centered">
                <p>
                    <strong>LITRevu</strong> 2023 All rights reserved.
                </p>
            </div>
        </footer>
    </div>
</body>

</html>
