<div class="box">
    <p><strong>{{ post.user.username }} posted a ticket - {{ post.time_create|date:"F j, Y, P" }}</strong></p>
    <h2 class="title is-4 has-text-black-bis">{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 300px;">
    {% endif %}

    {% if post.id not in reviewed_ticket_ids %}
        <div class="buttons is-right">
            <a href="{% url 'review-create' ticket_id=post.id %}" class="button is-link is-light">Add Review</a>
        </div>
    {% endif %}
</div>