body, html {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}


footer.footer {
    margin-top: 0;
    padding: 1rem 0;
}

footer {
    flex-shrink: 0;
}


.button.is-info {
    background-color: rgb(45, 105, 180);
}

.button.custom-contrast {
    background-color: rgb(45, 105, 180);
}


/* Feed: Fix the contrast issue of danger buttons. */
/*Very low contrast (3.61:1): Very low contrast between text and background colors.*/

.button.is-danger {
    background-color: #c00; /* A darker red */
    color: #fff; /* White text */
}
